<div class="container-fluid bg-secondary">
    <hr>
    <div class="row">
        <div class="text-center">
            <h1>Were here since the 1960's</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</p>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Restaurant_N%C3%A4sinneula.jpg/1200px-Restaurant_N%C3%A4sinneula.jpg"
                alt="Restaurant" class="img-fluid">
        </div>
        <div class="my-5"></div>
        <div class="col-lg-6 text-center d-flex flex-column align-self-center my-5">            
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores amet nostrum dicta obcaecati
                accusantium eum, harum rerum non necessitatibus maxime adipisci? Omnis earum distinctio libero fugiat
                consequatur amet ea perferendis.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores amet nostrum dicta obcaecati
                accusantium eum, harum rerum non necessitatibus maxime adipisci? Omnis earum distinctio libero fugiat
                consequatur amet ea perferendis.            
        </div>
        <div class="col-lg-6">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQ-lRHZVQdchHOYdrukagBVmNQLPQhCOiUag&usqp=CAU" alt="food" class="img-fluid w-100">
        </div>  
    </div>
</div>